.comments {
  display: flex;
  align-items: flex-start;
  margin-top: 5px;
}

.comments-body {
  border-radius: 9px;
  background-color: gainsboro;
  width: 100%;
  padding: 10px;
  margin-left: 5px;
}

.comments-author {
  font-weight: bold;
}

.comments-content {
  margin-right: 10px;
}
