.header {
  background-color: #4a90e2;
  font-size: 30px;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #fff;
}

.perfil {
  font-size: 18px;
  margin-right: 20px;
}

.facebook {
  margin-left: 20px;
}
